# ASP.NET Core build outputs
WebMetric/bin/
WebMetric/obj/

# VS Code project files
.vscode/
*.user

# NuGet
WebMetric/project.assets.json
WebMetric/project.nuget.cache

# Prometheus executáveis e dados
Prometheus/*.exe
Prometheus/data/

# Logs, lockfiles
*.log
.lock
